@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: Arial,sans-serif;
}

.Navbar-item{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 95%;
    border: 1.5px solid #B7410E;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}

.navbar-log a{
    color: #B7410E;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.nav li {
    padding-right: 10px;
}

.nav li a {
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
}

.nav li :hover{
    color: #B7410E;
    /* border-bottom: 1px solid #B7410E; */
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: black;
}

/* Close Button Styles */
.menu-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* Open Menu Button Styles */
.menu-open-btn {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.btn{
    padding: 1rem;
    background: #B7410E;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover{
    color: #222;
}

.btn_1{
    padding: 1rem;
    color: #B7410E;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #B7410E;
    white-space: nowrap;
    cursor: pointer;
    transition: .2s ease-in-out;
}

/************** END OF NAVBAR **********/

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 50px;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  
  .text-content {
    max-width: 50%;
  }
  
  
  .text-content h1 {
    font-size: 36px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  
  .text-content .highlight {
    background-color: #cc5500;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .text-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .buttons {
    display: flex;
    gap: 15px;
  }
  
  .primary-btn,
  .secondary-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  .primary-btn {
    background-color: #cc5500;
    color: #fff;
  }
  
  .primary-btn:hover {
    background-color: #b34900;
  }
  
  .secondary-btn {
    background-color: transparent;
    color: #cc5500;
    border: 2px solid #cc5500;
  }
  
  .secondary-btn:hover {
    background-color: #cc5500;
    color: #fff;
  }
  
  .image-content {
    position: relative;
    max-width: 50%;
  }
  
  .image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  


/************** END OF HERO **********/


  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #FFFBF9;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
  }

  .image-container_1 {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
  }

  .image-container_1 img {
    width: 100%;
  }

  .text-container_1 {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    border-radius: 8px;
  }

  .text-container_1 h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
  }

  .text-container_1 p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 20px;
  }



/************** END OF CONTAINER  **********/


.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.heading-container {
  text-align: center;
  margin-bottom: 30px;
}

.heading-container h3 {
  color: #B7410E;
  margin-bottom: 5px;
}

.heading-container h2 {
  color: #333;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  cursor: pointer;
}

.service-card {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  text-align: center;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(37, 37, 37, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  /* transform: translateY(-5px); */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.service-card .icon  {
  width: 50px;
  height: 50px;
  margin: 0 auto 15px;
  background: #B7410E;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
}

.icon i {
  color: #fff;
}


.service-card h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #B7410E;
}

.service-card p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #666;
  margin-bottom: 10px;
}

.service-card.highlight {
  background: #B7410E;
  color: #fff;
}

.service-card.highlight p {
  color: #f0f0f0;
}


.btn_1 {
  display: block;
  width: 150px;
  margin: 20px auto 0;
  text-align: center;
  padding:  15px;
  background-color: #B7410E;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn_1:hover {
  background-color: #e64a19;
}




/************** END OF services-container **********/

/* Portfolio Section */
.portfolio-section {
    width: 100%;
    margin: 0 auto;
    padding: 4rem ;
    background: #FFFBF9;
}

/* Header Styling */
.portfolio-header h3 {
    color: #B7410E;
    font-size: 18px;
    margin: 0;
    text-align: center;
}

.portfolio-header h1 {
    font-size: 36px;
    margin: 10px 0;
    text-align: center;
}

.portfolio-header p {
    font-size: 16px;
    margin: 10px 0 30px;
    text-align: center;
}

/* Portfolio Grid */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.portfolio-item {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.portfolio-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Specific Grid Placement */
.item1 {
    grid-column: span 2;
    grid-row: span 1;
}

.item2 {
    grid-column: span 1;
    grid-row: span 1;
}

.item3 {
    grid-column: span 1;
    grid-row: span 1;
}

.item4 {
    grid-column: span 1;
    grid-row: span 1;
}

.item5 {
    grid-column: span 1;
    grid-row: span 1;
}

.item6 {
    grid-column: span 2;
    grid-row: span 1;
}

.portfolio-section, button {
    place-items: center;
}

/************** END OF Portfolio **********/

.form-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
  }
  
  .form-container h1 {
    color: #f26333;
    margin-bottom: 10px;
  }
  
  .form-container h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .form-container p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  
  form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  
  input, select {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    
  }
  
  textarea {
    grid-column: span 2; 
    width: 100%; 
    padding: 2rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    resize: none; 
    box-sizing: border-box; 
  }
  

  
/************** END OF form-container  **********/

/* Blog Section Styles */
.blog-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #fdfdfd;
  }
  
  .blog-section h1 {
    color: #f26333;
    margin-bottom: 5px;
  }
  
  .blog-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .blog-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .blog-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    overflow: hidden;
    text-align: left;
  }
  
  .blog-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .blog-content {
    padding: 15px;
  }
  
  .blog-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .blog-content p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
  }
  
  .read-more {
    text-decoration: none;
    color: #f26333;
    font-weight: bold;
    font-size: 14px;
  }
  
  
  /************** END OF Blog-section  **********/

  .project-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 30px;
  }
  
  .image-container {
    position: relative;
    border: 2px solid #cc5500;
    padding: 10px;
    background-color: #fff;
  }
  
  .image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .text-container {
    background-color: #cc5500;
    color: #fff;
    padding: 40px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .text-container h4 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400;
  }
  
  .text-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .text-container p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .text-container button {
    background-color: #fff;
    color: #cc5500;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .text-container button:hover {
    background-color: #cc5500;
    color: #fff;
  }


 
 /************** END OF Blog-section  **********/


footer {
    background-color: #fdfdfd;
    padding: 40px 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    color: #000;
  }
  
  .footer-left h1 {
    font-size: 24px;
    color: #cc5500;
  }
  
  .footer-left p {
    max-width: 300px;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 10px;
  }
  
  .footer-right {
    display: flex;
    gap: 120px;
    flex-wrap: wrap;
  }
  
  .footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
  }
  
  .footer-section form {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .footer-section input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    flex: 1;
  }
  
  .footer-section button {
    padding: 8px 16px;
    background-color: #cc5500;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 15px;
    background: #B7410E;
  }
  
  .social-icons a i {
    font-size: 20px;
  }

/************** END OF FOOTER **********/



@media screen and (max-width: 850px) {

    .navbar-log img {
        width: 15%;
        display: block;
        object-fit: cover;
    }


    .Navbar-item{
        z-index: 99;
        justify-content: space-between;
    }

     .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #fff;
        width: 100%;
        height: auto;
        position: absolute;
        top: 75px;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        text-align: center;
        padding: 80px 0 30px 0;
        margin: 0;
        transition: 0.2s ease-in-out;
        border-radius: 13px;
        z-index: 99;
        border: 1px solid #B7410E;
    } 

    .nav li a{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
        align-items: center;
        justify-content: center;
    }


    .menu-open-btn {
        display: block;
    }
/************** END OF Navbar **********/

    .hero-section {
        flex-direction: column-reverse;
        padding: 10px;
        width: 100%;
        padding: 130px 10px;
      }
  
      .text-content {
        max-width: 98%;
      }
      .image-content {
        max-width: 98%;
      }
      
/************** END OF hero-section **********/


.services-container {
  grid-template-columns: repeat(2, 1fr); /* Adjust to 2 columns on smaller screens */
}

.image-container_1 img {
  padding: 0 1rem;
}

/************** END OF ABOUT **********/

     .blog-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
      }

      
 /************** END OF blog-container **********/
   
 .project-section {
    flex-direction: column-reverse;
    padding: 20px;
    gap: 40px;
  }
 
  .text-container {
    background-color: #cc5500;
    color: #fff;
    padding: 40px;
    max-width: 95%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


  .portfolio-header h1 {
    font-size: 30px;
}

.form-container h1 {
  margin-top: 1rem;
}


 /************** END OF Project-section **********/   

 .footer-right {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(2, auto);
      }
   
    }


    @media screen and (max-width: 568px) {

.Sub_about {
            display: flex;
            flex-direction: column-reverse;
            padding: 0;
    }


    .services-container {
      grid-template-columns:  1fr /* Adjust to 2 columns on smaller screens */
    }
    
 /************** END OF Project-section **********/   


         /* Portfolio Section */
.portfolio-section {
    padding: 1rem ;
}

/* Portfolio Grid */
.portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
}

/************** END OF portfolio **********/   

.form-container p {
    line-height: 1.8;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /************** END OF form-container **********/   

.blog-container {
    grid-template-columns: 1fr;
  }

  .blog-section {
    text-align: center;
    padding: 0 12px;
    background-color: #fdfdfd;
  }
  
  .blog-card {
    max-width: 95%;
  }

  /************** END OF form-container **********/  
  
  
  .footer-left p {
    margin-bottom: 1rem;
  }
}


@media (max-width: 768px) {
  .services-container {
    grid-template-columns: repeat(2, 1fr); /* Adjust to 2 columns on smaller screens */
  }
}


@media (max-width: 480px) {
  .services-container {
    grid-template-columns: 1fr; /* Adjust to 1 column on very small screens */
  }
}


@media (max-width: 1024px) {

  .text-content {
    max-width: 95%;
  }

  .image-content {
    max-width: 95%;
  }


  .hero-section {
    border: 1px solid;
    padding: 120px 1px;
    max-width: 100%;
    flex-direction: column-reverse;
  }


  .text-content p {
    font-size: 1.5rem;
  }

  
  .container {
    flex-direction: column;
  }

  .image-container_1 {
    flex: 1;
    min-width: 100%;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .services-container {
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
  }
}